@model IQueryable<ELearning.Models.cour>
@{
    ViewBag.Title = "Home Page";
}
<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image -->
        <img style=" border-radius: 50%" class="masthead-avatar mb-5" src="@ViewBag.image" onerror="this.src='../profile/anonyme.jpg'" alt="">
        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0">BienVenue @ViewBag.user</h1>
        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light mb-0">“The learning process continues until the day you die”</p>
    </div>
</header>
<!-- Portfolio Section -->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Top Cours</h2>
        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items -->
        <div class="row">
            <!-- Portfolio Item 1 -->
            @foreach (ELearning.Models.cour e in Model)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <a class="img-card" href="signin">
                            <img src="../CoursImages/@(e.Id).jpg" />
                        </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="SignIn">
                                    @e.titre
                                </a>
                            </h4>
                            <p class="">
                                @e.intro
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="SignIn" class="btn btn-link btn-block">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            }

</div>

            <!-- /.row -->
        </div>
</section>